@tailwind base;
@tailwind components;
@tailwind utilities;


/* global usage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.black-gradient {
    @apply bg-gradient-to-r from-[#111] to-[#333]
}

.bg-glass-transparent {
    @apply bg-gradient-to-r from-[#fff2] to-[#fff3] backdrop-blur-[2px]
}

/* pagination style */
.custom-pagination {
    @apply flex justify-center mt-8;
}

.pagination a,
.pagination span {
    @apply inline-block px-3 py-2 text-white border border-secondary hover:bg-secondary hover:text-white;
}

.pagination .disabled {
    @apply opacity-50 cursor-not-allowed;
}

.pagination .active {
    @apply bg-secondary text-white;
}

.EZDrawer__overlay {
    background: transparent !important;
}

/* Date Range Picker */
.rdrStaticRangeLabel {
    @apply text-gray-800 hover:text-blue-gray-500
}